
<form method="post" action="/signup">
<input type="text" name="username" id="user_name">
<input type="text" name="email" id="user_email">
<input type="text" name="password" id="user_password">
<input type="submit" value="Create User">

</form>